@charset "UTF-8";
.css-grid__container {
  display: grid;
  gap: 0.3rem;
  grid-template-rows: repeat(14, 4rem);
  grid-template-columns: repeat(4, calc((100% - 4 * 1rem) / 3.4));
  grid-template-areas:
    "du du du du"
    "kan kan kan kan"
    "css-grid css-grid css-grid css-grid"
    "child-4 child-4 child-4 child-4"
    "child-5 child-5 child-5 child-6"
    "child-7 child-8 child-8 child-8"
    "child-9 child-9 child-10 child-10"
    "child-11 child-11 child-11 child-11"
    "child-12 child-12 child-12 child-12"
    "child-13 child-13 child-13 child-13"
    "child-14 child-14 child-14 child-14";
}
.css-grid__item {
  display: grid;
  text-align: center;
  text-transform: uppercase;
}
.css-grid__item--shadow {
  box-shadow: var(--clr6);
  font-size: 2rem;
  font-weight: 600;
  margin: auto;
}

.css-grid__item:nth-child(1) {
  grid-area: du;
}
.css-grid__item:nth-child(2) {
  grid-area: kan;
}
.css-grid__item:nth-child(3) {
  grid-area: css-grid;
}
.css-grid__item:nth-child(4) {
  grid-area: child-4;
}
.css-grid__item:nth-child(5) {
  grid-area: child-5;
}
.css-grid__item:nth-child(6) {
  grid-area: child-6;
}
.css-grid__item:nth-child(7) {
  grid-area: child-7;
}
.css-grid__item:nth-child(8) {
  grid-area: child-8;
}
.css-grid__item:nth-child(9) {
  grid-area: child-9;
}
.css-grid__item:nth-child(10) {
  grid-area: child-10;
}

.css-grid__item:nth-child(11) {
  grid-area: child-11;
}
.css-grid__item:nth-child(12) {
  grid-area: child-12;
}
.css-grid__item:nth-child(13) {
  grid-area: child-13;
}
.css-grid__item:nth-child(14) {
  grid-area: child-14;
}

.css-grid__container > div:nth-child(1) {
  background-color: var(--clr1);
}
.css-grid__container > div:nth-child(2) {
  background-color: var(--clr3);
}
.css-grid__container > div:nth-child(3) {
  background-color: var(--clr2);
}
.css-grid__container > div:nth-child(4) {
  background-color: var(--clr4);
}

.five-grid {
  background-color: var(--clr5);
}
.six-grid {
  background-color: var(--clr6);
}
.seven-grid {
  background-color: var(--clr7);
}
.eight-grid {
  background-color: var(--clr8);
}
.nine-grid {
  background-color: var(--clr9);
}
.ten-grid {
  background-color: var(--clr10);
}
.eleven-grid {
  background-color: var(--clr1);
}
.twelve-grid {
  background-color: var(--clr2);
}
.thirteen-grid {
  background-color: var(--clr3);
}
.fourteen-grid {
  background-color: var(--clr4);
}
@media screen and (min-width: 750px) {
  .css-grid__container {
    display: grid;
    grid-template-rows: repeat(8, 6rem);
    grid-template-columns: repeat(5, calc((100% - 4 * 1rem) / 4.5));
    grid-template-areas:
      "du du du kan kan"
      "du du du child-4 child-4"
      "css-grid css-grid css-grid  css-grid css-grid"
      "child-5 child-5 child-5 child-6 child-6 "
      "child-7 child-7 child-7 child-6 child-6"
      "child-8 child-9 child-10 child-6 child-6"
      "child-11 child-11 child-10 child-6 child-6 "
      "child-12 child-13 child-14 child-14 child-14";
  }
  .css-grid__item {
    display: grid;
  }
}
@media screen and (min-width: 1024px) {
  .css-grid__container {
    display: grid;
    grid-template-rows: repeat(4, 7rem);
    grid-template-columns: repeat(7, calc((100% - 4 * 0.9rem) / 5.8));
    grid-template-areas:
      "child-5 du du du kan kan"
      "child-6 du du du child-4 child-4"
      "child-7 child-9 css-grid css-grid child-11 child-12"
      "child-8 child-10 css-grid css-grid child-13 child-14";
  }
  .css-grid__item {
    display: grid;
  }

  .css-grid__item:nth-child(5) {
    border-radius: 30px 0 0 0;

    border-top: 17px solid hsl(182, 52%, 42%);
    border-left: 17px solid hsl(182, 52%, 42%);
  }
  .css-grid__item:nth-child(14) {
    border-radius: 0 0 40px 0;
    border-bottom: solid 17px hsl(182, 52%, 42%);
    border-right: solid 17px hsl(182, 52%, 42%);
  }
}
