@charset "UTF-8";

.flexbox__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
  text-transform: uppercase;
  text-align: center;
}
/* Ändrar items storlek */
.flexbox__container > div {
  padding: 0.7rem 0;
}

.flexbox__item {
  flex-basis: 100%;
}
/* Färger */
.flexbox__item:nth-child(1),
.flexbox__item:nth-child(3),
.flexbox__item:nth-child(5),
.flexbox__item:nth-child(7) {
  background-color: var(--clr1);
}
.flexbox__item:nth-child(2) {
  background-color: var(--clr3);
}
.flexbox__item:nth-child(4) {
  background-color: var(--clr4);
}
.flexbox__item:nth-child(6),
.flexbox__item:nth-child(8) {
  background-color: var(--clr2);
}
.flexbox__item:nth-child(9) {
  background-color: var(--clr5);
}

/* Ändrar storlek på flexbox items  */

@media screen and (min-width: 750px) {
  .flexbox__container {
    display: flex;
    flex-direction: row;
    height: 12vh;
  }

  .flexbox__container > div {
    padding: 2rem 0;
  }
  .flexbox__item {
    flex-basis: 25%;
  }
  .flexbox__item:nth-child(1) {
    flex-basis: calc(25% - 15px);
  }
  .flexbox__item:nth-child(2),
  .flexbox__item:nth-child(4),
  .flexbox__item:nth-child(9) {
    flex-basis: calc(50% - 0.5rem);
  }

  .flexbox__item:nth-child(1),
  .flexbox__item:nth-child(3),
  .flexbox__item:nth-child(5),
  .flexbox__item:nth-child(7) {
    flex-basis: calc(15% - 0.5rem);
  }
  .flexbox__item:nth-child(6),
  .flexbox__item:nth-child(8) {
    flex-basis: calc(24% - 0.5rem);
  }
  /* DU */
  .flexbox__item:nth-child(1) {
    order: 1;
  }
  .flexbox__item:nth-child(2) {
    order: 2;
  }
  .flexbox__item:nth-child(3) {
    order: 3;
  }
  /* KAN */
  .flexbox__item:nth-child(4) {
    order: 5;
  }
  .flexbox__item:nth-child(5) {
    order: 5;
  }
  .flexbox__item:nth-child(6) {
    order: 5;
  }
  .flexbox__item:nth-child(7) {
    order: 10;
  }
  .flexbox__item:nth-child(8) {
    order: 9;
  }
  .flexbox__item:nth-child(9) {
    order: 8;
  }
}
@media screen and (min-width: 1024px) {
}
