@charset "UTF-8";

.flexbox__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  text-transform: uppercase;
}
/* Ändrar items storlek */
.flexbox__container > div {
  padding: 15px;
  margin: 2.6px;
}

.flexbox__item {
  flex-basis: 100%;
}
/* Färger */
.flexbox__item:nth-child(1),
.flexbox__item:nth-child(3),
.flexbox__item:nth-child(5),
.flexbox__item:nth-child(7) {
  background-color: var(--clr1);
}
.flexbox__item:nth-child(2) {
  background-color: var(--clr3);
}
.flexbox__item:nth-child(4) {
  background-color: var(--clr4);
}
.flexbox__item:nth-child(6),
.flexbox__item:nth-child(8) {
  background-color: var(--clr2);
}
.flexbox__item:nth-child(9) {
  background-color: var(--clr5);
}
.flexbox__item--shadow {
  box-shadow: var(--clr7);
  font-size: 2rem;
}

/* Ändrar storlek på flexbox items  */

@media screen and (min-width: 750px) {
  .flexbox__container {
    display: flex;
    flex-direction: row;
  }

  .flexbox__item {
  }
  .flexbox__item:nth-child(1) {
    flex-basis: calc(25% - 15px);
  }
  .flexbox__item:nth-child(2),
  .flexbox__item:nth-child(4),
  .flexbox__item:nth-child(9) {
    flex-basis: calc(50% - 0.5rem);
  }

  .flexbox__item:nth-child(1),
  .flexbox__item:nth-child(3),
  .flexbox__item:nth-child(5),
  .flexbox__item:nth-child(7) {
    flex-basis: calc(17% - 0.5rem);
  }
  .flexbox__item:nth-child(6),
  .flexbox__item:nth-child(8) {
    flex-basis: calc(25% - 0.5rem);
  }
  /* DU */
  .flexbox__item:nth-child(1) {
    order: 1;
  }
  .flexbox__item:nth-child(2) {
    order: 2;
    flex-basis: calc(67% - 0.5rem);
  }
  .flexbox__item:nth-child(3) {
    order: 3;
  }
  /* KAN */
  .flexbox__item:nth-child(4) {
    order: 7;
    flex-basis: calc(59% - 0.5rem);
  }
  .flexbox__item:nth-child(5) {
    order: 6;
  }
  .flexbox__item:nth-child(6) {
    order: 5;
  }
  .flexbox__item:nth-child(7) {
    order: 10;
  }
  .flexbox__item:nth-child(8) {
    order: 9;
  }
  .flexbox__item:nth-child(9) {
    order: 8;
    flex-basis: calc(59% - 0.5rem);
  }
}
@media screen and (min-width: 1024px) {
  .flexbox__item:nth-child(1) {
    border-radius: 60px 0 0 0;
    border-top: solid 25px hsl(182, 52%, 42%);
    border-left: solid 25px hsl(182, 52%, 42%);
  }
  .flexbox__item:nth-child(9) {
    border-radius: 0 0 80px 0;
    border-bottom: solid 25px hsl(182, 52%, 42%);
    border-right: solid 31px hsl(182, 52%, 42%);
  }
  .flexbox__item:nth-child(2) {
    flex-basis: calc(68% - 0.5rem);
  }

  .flexbox__item:nth-child(4) {
    order: 4;
    flex-basis: calc(56% - 0.5rem);
  }
  .flexbox__item:nth-child(5) {
    order: 5;
  }
  .flexbox__item:nth-child(6) {
    order: 6;
  }
  .flexbox__item:nth-child(7) {
    order: 8;
  }
  .flexbox__item:nth-child(8) {
    order: 8;
  }
  .flexbox__item:nth-child(9) {
    order: 8;
    flex-basis: calc(56% - 0.5rem);
  }
  .flexbox__item:nth-child(1) {
    flex-basis: calc(25% - 15px);
  }
  /*  .flexbox__item:nth-child(2),
  .flexbox__item:nth-child(4),
  .flexbox__item:nth-child(9) {
    flex-basis: calc(50% - 0.5rem);
  } */

  .flexbox__item:nth-child(1),
  .flexbox__item:nth-child(3),
  .flexbox__item:nth-child(5),
  .flexbox__item:nth-child(7) {
    flex-basis: calc(16% - 0.5rem);
  }
  .flexbox__item:nth-child(6),
  .flexbox__item:nth-child(8) {
    flex-basis: calc(28% - 0.5rem);
  }
}
